.w33-box {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    border: 0.2em;
    padding: 0.2em;
}

.pill-display-box {
    height: 200px;
    position: relative;
    background: url("./pill.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
    border: 0.2em transparent solid;
    border-radius: 0.4em;
    transition: all 0.3s;
}

.pill-display-box:hover {
    border-color: #bdf
}

.pill-display-box.selected {
    border-color: #fca
}

.pill-display-box-text {
    position: absolute;
    left: 50%;
    bottom: 8%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.2em;
    padding: 0.1em 0.5em;
    color: white;
    white-space: nowrap;
}

.ver_lim {
    max-width: 1000px;
    width: 80%;
    margin: auto;
}
.choose-day {
    border: solid 1px #66aaff;
    border-radius: 0.23em;
    clear: both;
    display: inline-block;
    color: #4499ff;
    cursor: pointer;
}

.choose-day-button {
    float: left;
    width: 3em;
    text-align: center;
}

.choose-day-button:not(:last-child) {
    border-right: solid 1px #66aaff;
}

.choose-day-button.selected {
    color: #ffffff;
    background: #66aaff;
}

.choose-time {
    clear: both;
}

.choose-time input {
    border-radius: 0;
    border: solid 0 transparent;
    border-bottom: solid 1px black;
    width: 3em;
}

.add-button{
    border: solid 1px #66aaff;
    border-radius: 0.23em;
    display: inline-block;
    color: #4499ff;
    cursor: pointer;
    float: left;
    width: 3em;
    text-align: center;
    margin-top: 0.2em;
}

.add-button:active {
    color: #ffffff;
    background: #66aaff;
}

ul {
    list-style-type: none;
}

li {
    padding: 0.5em;
    line-height: 1.3em;
}

#rules {
    margin-top: 2em;
    clear: both;
}

#rules>li:nth-child(odd) {
    background: rgba(0,0,0,0.03);
}
